#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-footer_derechos {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-footer_name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}