#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #62C3CD;
  background-image: none;
  box-shadow: none;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_1 {
  position: absolute;
  width: 1024px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_1 > .clipping, #t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_1 > .paddingLayer {
  height: 40px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_1 span#rtr-t-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #336EAF;
  background-image: none;
  box-shadow: none;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_2 {
  position: absolute;
  width: 1024px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_2 > .clipping, #t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_2 > .paddingLayer {
  height: 40px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_2 span#rtr-t-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_3 {
  position: absolute;
  width: 1024px;
  height: 115px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_3 > .clipping, #t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_3 > .paddingLayer {
  height: 115px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_3 span#rtr-t-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_4 {
  position: absolute;
  width: 1024px;
  height: 369px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_4 > .clipping, #t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_4 > .paddingLayer {
  height: 369px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_4 span#rtr-t-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #336EAF;
  background-image: none;
  box-shadow: none;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_5 {
  position: absolute;
  width: 1024px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_5 > .clipping, #t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_5 > .paddingLayer {
  height: 90px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_5 span#rtr-t-Rectangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #62C3CD;
  background-image: none;
  box-shadow: none;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_6 {
  position: absolute;
  width: 1024px;
  height: 62px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_6 > .clipping, #t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_6 > .paddingLayer {
  height: 62px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_6 span#rtr-t-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-footer_derechos > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-footer_derechos {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-footer_derechos > .clipping, #t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-footer_derechos > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-footer_derechos .valign {
  vertical-align: middle;
  text-align: left;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-footer_derechos span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-footer_derechos span#rtr-t-footer_derechos_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-footer_name > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-footer_name {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-footer_name > .clipping, #t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-footer_name > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-footer_name .valign {
  vertical-align: middle;
  text-align: left;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-footer_name span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-footer_name span#rtr-t-footer_name_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-footer_name span#rtr-t-footer_name_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Menu_1 {
  position: absolute;
  width: 224px;
  height: 40px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Menu_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-fundacion_ucr .valign {
  vertical-align: middle;
  text-align: left;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-fundacion_ucr {
  background-color: transparent;
  background-image: none;
  text-shadow: none;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-fundacion_ucr-nodetext {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-venta_ucr .valign {
  vertical-align: middle;
  text-align: left;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-venta_ucr {
  background-color: transparent;
  background-image: none;
  text-shadow: none;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-venta_ucr-nodetext {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Menu_1 > .menuWrapper {
  height: 40px;
  width: calc(100% - 0px);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_7 {
  position: absolute;
  width: 1024px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_7 > .clipping, #t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_7 > .paddingLayer {
  height: 30px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_7 span#rtr-t-Rectangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_8 {
  position: absolute;
  width: 1024px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_8 > .clipping, #t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_8 > .paddingLayer {
  height: 30px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Rectangle_8 span#rtr-t-Rectangle_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Image_1 > svg {
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Image_1 {
  position: absolute;
  width: 251px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Image_1 > img, #t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 #t-Image_1 > svg {
  height: 90px;
  width: 251px;
  box-shadow: none;
}
#t-7ae8da7f-ecaa-438e-b9d6-9cc0fb621778 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}