#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-lb_pestanna {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-lb_nombre {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-lb_no_identificacion {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-lb_tipo_nombramiento {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-lb_cargo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-lb_correo_personal {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-next_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-lb_fecha_nombramiento {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-Line_1 {
  rotation: 90.0;
  margin-left: 136px;
  margin-top: -136px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-lb_unidad {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-lb_no_extension {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-lb_correo_unidad {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-lb_direccion_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-lb_direccion_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-lb_direccion_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-Line_3 {
  rotation: 90.0;
  margin-left: 136px;
  margin-top: -136px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-lb_direccion_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-next_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-next_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-lb_no_extension_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-lb_correo_unidad_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-Line_2 {
  rotation: 90.0;
  margin-left: 118px;
  margin-top: -118px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-lb_no_extension_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-lb_correo_unidad_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-lb_jefatura {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 #s-lb_jefatura_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d7cce5d-f4f6-4d82-b292-5c13283b3ff0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}