#s-187c009b-0049-431b-a562-ac1ee7d62484 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-187c009b-0049-431b-a562-ac1ee7d62484 #s-Inicio {
  height: 41px;
}
#s-187c009b-0049-431b-a562-ac1ee7d62484 #s-perfil {
  height: 41px;
}
#s-187c009b-0049-431b-a562-ac1ee7d62484 #s-Menu_item_1 {
  height: 41px;
}
#s-187c009b-0049-431b-a562-ac1ee7d62484 #s-Login {
  height: 41px;
}
#s-187c009b-0049-431b-a562-ac1ee7d62484 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}