#s-187c009b-0049-431b-a562-ac1ee7d62484 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-187c009b-0049-431b-a562-ac1ee7d62484 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}