#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_justificacion {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_cuantos_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-next_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_justificacion_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_titulo_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_justificacion_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_justificacion_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_hijos {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_cantidad_hijos {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_edades {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Line_1 {
  rotation: 90.0;
  margin-left: 104px;
  margin-top: -104px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-next_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_titulo_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-next {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_dias {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_titulo_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-next_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_titulo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_a {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_a_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_a_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-next_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-next_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Line_2 {
  rotation: 90.0;
  margin-left: 96px;
  margin-top: -96px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_titulo_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-next_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_titulo_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-next_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_a_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_a_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_a_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_condiciones {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_titulo_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-next_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-lb_titulo_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-plan_trabajo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-criterio_indicadores {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-plan_trabajo_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-criterio_indicadores_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-criterio_indicadores_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-criterio_indicadores_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 #s-criterio_indicadores_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21068402-c0df-47aa-ad1a-96831d812632 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}