#s-2cb1c86f-b272-4150-830f-616c37d12b39 #s-lb_titulo_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cb1c86f-b272-4150-830f-616c37d12b39 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cb1c86f-b272-4150-830f-616c37d12b39 #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cb1c86f-b272-4150-830f-616c37d12b39 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cb1c86f-b272-4150-830f-616c37d12b39 #s-Label_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cb1c86f-b272-4150-830f-616c37d12b39 #s-Label_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cb1c86f-b272-4150-830f-616c37d12b39 #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cb1c86f-b272-4150-830f-616c37d12b39 #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cb1c86f-b272-4150-830f-616c37d12b39 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cb1c86f-b272-4150-830f-616c37d12b39 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}