#s-2de62f6b-3eba-497a-a039-dc6749c11c90 #s-Table_3 {
  border-collapse: separate;
}
#s-2de62f6b-3eba-497a-a039-dc6749c11c90 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2de62f6b-3eba-497a-a039-dc6749c11c90 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30) alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-2de62f6b-3eba-497a-a039-dc6749c11c90 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30) alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-2de62f6b-3eba-497a-a039-dc6749c11c90 #s-Button_1 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 35px;
  width: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-2de62f6b-3eba-497a-a039-dc6749c11c90 #s-Button_2 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 35px;
  width: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-2de62f6b-3eba-497a-a039-dc6749c11c90 #s-Button_3 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 35px;
  width: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-2de62f6b-3eba-497a-a039-dc6749c11c90 #s-Label_41 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 31px;
  width: 69px;
  -ms-transform: rotate(0.0deg);
}
#s-2de62f6b-3eba-497a-a039-dc6749c11c90 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2de62f6b-3eba-497a-a039-dc6749c11c90 #s-Label_42 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 31px;
  width: 64px;
  -ms-transform: rotate(0.0deg);
}
#s-2de62f6b-3eba-497a-a039-dc6749c11c90 #s-Label_43 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 3px 3px 3px 3px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 29px;
  width: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-2de62f6b-3eba-497a-a039-dc6749c11c90 #s-Inicio {
  height: 41px;
}
#s-2de62f6b-3eba-497a-a039-dc6749c11c90 #s-perfil {
  height: 41px;
}
#s-2de62f6b-3eba-497a-a039-dc6749c11c90 #s-Menu_item_1 {
  height: 41px;
}
#s-2de62f6b-3eba-497a-a039-dc6749c11c90 #s-Login {
  height: 41px;
}
#s-2de62f6b-3eba-497a-a039-dc6749c11c90 #s-Button_4 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 35px;
  width: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-2de62f6b-3eba-497a-a039-dc6749c11c90 #s-Button_5 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 35px;
  width: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-2de62f6b-3eba-497a-a039-dc6749c11c90 #s-Button_6 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 35px;
  width: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-2de62f6b-3eba-497a-a039-dc6749c11c90 #s-Button_7 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 34px;
  width: 34px;
  -ms-transform: rotate(0.0deg);
}
#s-2de62f6b-3eba-497a-a039-dc6749c11c90 #s-Button_8 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 34px;
  width: 34px;
  -ms-transform: rotate(0.0deg);
}
#s-2de62f6b-3eba-497a-a039-dc6749c11c90 #s-Button_9 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 34px;
  width: 34px;
  -ms-transform: rotate(0.0deg);
}
#s-2de62f6b-3eba-497a-a039-dc6749c11c90 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}