#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Inicio {
  height: 41px;
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-perfil {
  height: 41px;
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Menu_item_1 {
  height: 41px;
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-solicitud_teletrabajo {
  height: 41px;
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Menu_item_2 {
  height: 41px;
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Menu_item_3 {
  height: 41px;
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Menu_item_4 {
  height: 41px;
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Login {
  height: 41px;
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-lb_titulo_8 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 24px;
  width: 356px;
  -ms-transform: rotate(0.0deg);
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Table_3 {
  border-collapse: separate;
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30) alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30) alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Label_41 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 31px;
  width: 69px;
  -ms-transform: rotate(0.0deg);
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Label_42 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 31px;
  width: 64px;
  -ms-transform: rotate(0.0deg);
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Label_43 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 3px 3px 3px 3px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 29px;
  width: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Label_37 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Label_38 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}