#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-lb_titulo_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Label_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Label_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3be00cca-aeec-4b00-ad3c-fe5e1a04dc4d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}