#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}