#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Table_3 {
  position: absolute;
  width: 803px;
  height: 194px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Table_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  box-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Table_3 > table {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_7 {
  width: 274px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_33 {
  width: 322px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_33 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_33 span#rtr-s-Text_cell_33_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_37 {
  width: 169px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_37 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_37 span#rtr-s-Text_cell_37_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_8 {
  width: 276px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_34 {
  width: 324px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_34 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_34 span#rtr-s-Text_cell_34_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_38 {
  width: 171px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_38 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_38 span#rtr-s-Text_cell_38_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_9 {
  width: 276px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_4 {
  width: 324px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_5 {
  width: 171px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_10 {
  width: 276px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_1 {
  width: 324px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_2 {
  width: 171px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_11 {
  width: 276px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_11 span#rtr-s-Text_cell_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_36 {
  width: 324px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_36 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_36 span#rtr-s-Text_cell_36_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_40 {
  width: 171px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_40 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_cell_40 span#rtr-s-Text_cell_40_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_1 > .clipping, #s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_1 span {
  color: #0957CC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_1 span#rtr-s-Text_1_0 {
  color: #0957CC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Line_1 {
  position: absolute;
  width: 923px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  opacity: 0.3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-s-Line_1 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/c482eb36-505a-4f58-9319-7a5b9002dad4.png');
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_1 {
  position: absolute;
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_1 > .clipping, #s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_1 > .paddingLayer {
  height: 35px;
  width: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_1 span {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/10ee0baf-11cc-4e1d-87f7-0354cf634bde.png');
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_3 {
  position: absolute;
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_3 > .clipping, #s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_3 > .paddingLayer {
  height: 35px;
  width: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_3 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_7 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_7 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_7 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_7 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_7 {
  position: absolute;
  width: 134px;
  height: 34px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_7 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_7 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 17px 17px 17px 17px;
  box-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_7 > .paddingLayer {
  height: 14px;
  width: 109px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_41 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_41 {
  position: absolute;
  width: 69px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_41 > .clipping, #s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_41 > .paddingLayer {
  height: 31px;
  width: 69px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_41 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_41 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_41 span#rtr-s-Label_41_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_41 span#rtr-s-Label_41_1 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_2 > .clipping, #s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Text_2 span#rtr-s-Text_2_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_42 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_42 {
  position: absolute;
  width: 64px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_42 > .clipping, #s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_42 > .paddingLayer {
  height: 31px;
  width: 64px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_42 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_42 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_42 span#rtr-s-Label_42_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_42 span#rtr-s-Label_42_1 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_43 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_43 {
  position: absolute;
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_43 > .clipping, #s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_43 > .paddingLayer {
  height: 29px;
  width: 29px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_43 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_43 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Label_43 span#rtr-s-Label_43_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_9 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_9 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_9 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_9 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_9 {
  position: absolute;
  width: 177px;
  height: 34px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_9 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_9 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_9 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 17px 17px 17px 17px;
  box-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_9 > .paddingLayer {
  height: 14px;
  width: 152px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_8 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_8 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_8 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_8 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_8 {
  position: absolute;
  width: 171px;
  height: 34px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_8 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_8 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 17px 17px 17px 17px;
  box-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Input_8 > .paddingLayer {
  height: 14px;
  width: 146px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Menu_Bar {
  position: absolute;
  width: 723px;
  height: 43px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Menu_Bar > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Inicio .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Inicio {
  background-color: transparent;
  background-image: none;
  text-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Inicio-nodetext {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-perfil .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-perfil {
  background-color: transparent;
  background-image: none;
  text-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-perfil-nodetext {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Menu_item_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Menu_item_1 {
  background-color: transparent;
  background-image: none;
  text-shadow: none;
  cursor: pointer;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Menu_item_1-nodetext {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Login .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Login {
  background-color: transparent;
  background-image: none;
  text-shadow: none;
  cursor: pointer;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Login-nodetext {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Menu_Bar > .menuWrapper {
  height: 43px;
  width: calc(100% - 0px);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/4d4461bc-c8dd-44e7-85c6-cfd8443b021d.png');
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_4 {
  position: absolute;
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_4 > .clipping, #s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_4 > .paddingLayer {
  height: 35px;
  width: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_4 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_4 span#rtr-s-Button_4_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/7ac9ace8-9469-4c4c-94e5-e65c0b0eb42c.png');
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_5 {
  position: absolute;
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_5 > .clipping, #s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_5 > .paddingLayer {
  height: 35px;
  width: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_5 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_5 span#rtr-s-Button_5_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/c585f241-620e-4323-bfb7-1837d6dac997.png');
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_6 {
  position: absolute;
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_6 > .clipping, #s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_6 > .paddingLayer {
  height: 35px;
  width: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_6 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_6 span#rtr-s-Button_6_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-attachment: scroll;
  background-size: contain;
  background-image: url('../../images/4d594580-ee7b-43a5-8bee-9811e107e5f0.png');
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_7 {
  position: absolute;
  width: 34px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_7 > .clipping, #s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_7 > .paddingLayer {
  height: 34px;
  width: 34px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_7 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_7 span#rtr-s-Button_7_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/523e0c02-cdaf-40bc-ab96-32760929dbe7.png');
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_8 {
  position: absolute;
  width: 34px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_8 > .clipping, #s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_8 > .paddingLayer {
  height: 34px;
  width: 34px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_8 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_8 span#rtr-s-Button_8_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/25589e9e-bc5a-4551-a2e3-bd8e5d53ede0.png');
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_9 {
  position: absolute;
  width: 34px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_9 > .clipping, #s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_9 > .paddingLayer {
  height: 34px;
  width: 34px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_9 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_9 span#rtr-s-Button_9_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/b164b99c-454e-40ff-8fcb-7bc44b2563a2.png');
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_10 {
  position: absolute;
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_10 > .clipping, #s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_10 > .paddingLayer {
  height: 35px;
  width: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_10 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_10 span#rtr-s-Button_10_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/25c07a2a-b8b2-4313-9587-794fa495e358.png');
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_13 {
  position: absolute;
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_13 > .clipping, #s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_13 > .paddingLayer {
  height: 35px;
  width: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_13 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee #s-Button_13 span#rtr-s-Button_13_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4b0c50b5-f866-4ce2-880e-2a65a5017eee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}