#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-lb_pestanna {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 19px;
  width: 74px;
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-agregar_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 17px 17px 17px 17px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 13px;
  width: 14px;
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-next_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 72px;
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #0957CC;
  -ms-transform: rotate(90.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #0957CC;
  -ms-transform: rotate(90.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-agregar_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 17px 17px 17px 17px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 13px;
  width: 14px;
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-next_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 72px;
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Category_2-options {
  background-color: #FFFFFF;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Category_4-options {
  background-color: #FFFFFF;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Category_5-options {
  background-color: #FFFFFF;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-agregar_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 17px 17px 17px 17px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 13px;
  width: 14px;
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-next_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 72px;
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-lb_pestanna_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 19px;
  width: 74px;
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-lb_pestanna_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 19px;
  width: 74px;
  -ms-transform: rotate(0.0deg);
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Inicio {
  height: 41px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-perfil {
  height: 41px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Menu_item_1 {
  height: 41px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-solicitud_teletrabajo {
  height: 41px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Menu_item_2 {
  height: 41px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Menu_item_3 {
  height: 41px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Login {
  height: 41px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}