#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-lb_pestanna {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-agregar_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-next_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Line_3 {
  rotation: 90.0;
  margin-left: 117px;
  margin-top: -117px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-agregar_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-next_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-agregar_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-next_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-lb_pestanna_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 #s-lb_pestanna_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77f99df8-3fcb-4f7d-bf75-66cac57267a1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}