#s-7d444c4a-7ec9-455d-a2c5-3902650db157 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-user_name > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-user_name {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-user_name > .clipping, #s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-user_name > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-user_name .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-user_name span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-user_name span#rtr-s-user_name_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-user_password > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-user_password {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-user_password > .clipping, #s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-user_password > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-user_password .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-user_password span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-user_password span#rtr-s-user_password_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-iniciar > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #436083;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #5A8A91;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #5A8A91;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #5A8A91;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #5A8A91;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-iniciar {
  position: absolute;
  width: 96px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-iniciar > .clipping, #s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-iniciar > .paddingLayer {
  height: 23px;
  width: 90px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-iniciar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-iniciar span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-iniciar span#rtr-s-iniciar_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-name input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-name input::-moz-placeholder {
  color: #B4B4B4;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-name input:-moz-placeholder {
  color: #B4B4B4;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-name input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-name {
  position: absolute;
  width: 214px;
  height: 29px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-name .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-name input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-name > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-name > .paddingLayer {
  height: 23px;
  width: 203px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 3px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-password input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-password input::-moz-placeholder {
  color: #B4B4B4;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-password input:-moz-placeholder {
  color: #B4B4B4;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-password input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-password {
  position: absolute;
  width: 214px;
  height: 29px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-password .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-password input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-password > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-password > .paddingLayer {
  height: 23px;
  width: 203px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 3px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-recordar_contrasena > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-recordar_contrasena {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-recordar_contrasena > .clipping, #s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-recordar_contrasena > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-recordar_contrasena .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-recordar_contrasena span {
  color: #436083;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-recordar_contrasena span#rtr-s-recordar_contrasena_0 {
  color: #436083;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-recordar_usuario > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-recordar_usuario {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-recordar_usuario > .clipping, #s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-recordar_usuario > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-recordar_usuario .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-recordar_usuario span {
  color: #436083;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-recordar_usuario span#rtr-s-recordar_usuario_0 {
  color: #436083;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Menu_Bar {
  position: absolute;
  width: 637px;
  height: 43px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Menu_Bar > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Inicio .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Inicio {
  background-color: transparent;
  background-image: none;
  text-shadow: none;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Inicio-nodetext {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Informacion .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Informacion {
  background-color: transparent;
  background-image: none;
  text-shadow: none;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Informacion-nodetext {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Ayuda .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Ayuda {
  background-color: transparent;
  background-image: none;
  text-shadow: none;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Ayuda-nodetext {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Contacto .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Contacto {
  background-color: transparent;
  background-image: none;
  text-shadow: none;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Contacto-nodetext {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Login .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Login {
  background-color: transparent;
  background-image: none;
  text-shadow: none;
  cursor: pointer;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Login-nodetext {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Menu_Bar > .menuWrapper {
  height: 43px;
  width: calc(100% - 0px);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Group_9 {
  position: absolute;
  width: 486px;
  height: 81px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Rich_text_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F2DEDE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EED3D7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EED3D7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EED3D7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EED3D7;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Rich_text_1 {
  position: absolute;
  width: 486px;
  height: 81px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  display: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Rich_text_1 > .clipping, #s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Rich_text_1 > .paddingLayer {
  height: 65px;
  width: 467px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 11px;
  padding-right: 8px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Rich_text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Rich_text_1 span {
  color: #B94A48;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #B94A48;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Rich_text_1 span#rtr-s-Rich_text_1_1 {
  color: #B94A48;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Rich_text_1 span#rtr-s-Rich_text_1_2 {
  color: #B94A48;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Button_19 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #0957CC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Button_19 {
  position: absolute;
  width: 78px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  display: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Button_19 > .clipping, #s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Button_19 > .paddingLayer {
  height: 16px;
  width: 72px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Button_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Button_19 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Button_19 span#rtr-s-Button_19_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}