#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-user_name {
  -ms-transform: rotate(0.0deg);
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-user_password {
  -ms-transform: rotate(0.0deg);
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-iniciar {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #5A8A91;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #5A8A91;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #5A8A91;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #5A8A91;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 23px;
  width: 90px;
  -ms-transform: rotate(0.0deg);
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-recordar_contrasena {
  -ms-transform: rotate(0.0deg);
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-recordar_usuario {
  -ms-transform: rotate(0.0deg);
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Inicio {
  height: 41px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Informacion {
  height: 41px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Ayuda {
  height: 41px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Contacto {
  height: 41px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Login {
  height: 41px;
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Rich_text_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EED3D7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EED3D7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EED3D7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EED3D7;
  border-radius: 3px 3px 3px 3px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 11px;
  height: 65px;
  width: 467px;
  -ms-transform: rotate(0.0deg);
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 #s-Button_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 16px;
  width: 72px;
  -ms-transform: rotate(0.0deg);
}
#s-7d444c4a-7ec9-455d-a2c5-3902650db157 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}