#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-Inicio {
  height: 41px;
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-perfil {
  height: 41px;
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-Menu_item_2 {
  height: 41px;
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-Menu_item_1 {
  height: 41px;
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-solicitud_teletrabajo {
  height: 41px;
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-Login {
  height: 41px;
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-Text_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-Panel_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-lb_a {
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-lb_a_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-lb_a_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-lb_a_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-lb_a_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-lb_a_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-lb_a_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-lb_a_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-lb_a_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #0957CC;
  -ms-transform: rotate(90.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #0957CC;
  -ms-transform: rotate(90.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-next_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 23px;
  width: 74px;
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-next_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 23px;
  width: 74px;
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-lb_a_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 #s-lb_a_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8851225d-1c6a-4482-915e-ebe9032bdfb2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}