#s-a0d4bbd6-d39b-4622-9d4d-36340432ca11 #s-Inicio {
  height: 41px;
}
#s-a0d4bbd6-d39b-4622-9d4d-36340432ca11 #s-perfil {
  height: 41px;
}
#s-a0d4bbd6-d39b-4622-9d4d-36340432ca11 #s-Menu_item_1 {
  height: 41px;
}
#s-a0d4bbd6-d39b-4622-9d4d-36340432ca11 #s-solicitud_teletrabajo {
  height: 41px;
}
#s-a0d4bbd6-d39b-4622-9d4d-36340432ca11 #s-Menu_item_2 {
  height: 41px;
}
#s-a0d4bbd6-d39b-4622-9d4d-36340432ca11 #s-Menu_item_3 {
  height: 41px;
}
#s-a0d4bbd6-d39b-4622-9d4d-36340432ca11 #s-Menu_item_6 {
  height: 41px;
}
#s-a0d4bbd6-d39b-4622-9d4d-36340432ca11 #s-Login {
  height: 41px;
}
#s-a0d4bbd6-d39b-4622-9d4d-36340432ca11 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}