#s-bc8e9dfe-2a52-4372-97e4-e77eca2a5dcd #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bc8e9dfe-2a52-4372-97e4-e77eca2a5dcd #s-Inicio {
  height: 41px;
}
#s-bc8e9dfe-2a52-4372-97e4-e77eca2a5dcd #s-perfil {
  height: 41px;
}
#s-bc8e9dfe-2a52-4372-97e4-e77eca2a5dcd #s-Menu_item_1 {
  height: 41px;
}
#s-bc8e9dfe-2a52-4372-97e4-e77eca2a5dcd #s-Login {
  height: 41px;
}
#s-bc8e9dfe-2a52-4372-97e4-e77eca2a5dcd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}