#s-bc8e9dfe-2a52-4372-97e4-e77eca2a5dcd #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc8e9dfe-2a52-4372-97e4-e77eca2a5dcd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}