#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-lb_titulo {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 24px;
  width: 203px;
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Table_1 {
  border-collapse: separate;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_1 > .valign {
  vertical-align: middle;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-lb_a {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_3 {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #0957CC;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_3 > .valign {
  vertical-align: middle;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_11 {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #0957CC;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_11 > .valign {
  vertical-align: middle;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_2 > .valign {
  vertical-align: middle;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-lb_a_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_4 {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #0957CC;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_4 > .valign {
  vertical-align: middle;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_12 {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #0957CC;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_12 > .valign {
  vertical-align: middle;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_5 > .valign {
  vertical-align: middle;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-lb_a_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_6 {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #0957CC;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_6 > .valign {
  vertical-align: middle;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_13 {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #0957CC;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_13 > .valign {
  vertical-align: middle;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_7 > .valign {
  vertical-align: middle;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-lb_a_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_8 {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #0957CC;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_8 > .valign {
  vertical-align: middle;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_14 {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #0957CC;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_14 > .valign {
  vertical-align: middle;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_9 > .valign {
  vertical-align: middle;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-lb_a_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_10 {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #0957CC;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_10 > .valign {
  vertical-align: middle;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_15 {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #0957CC;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Cell_15 > .valign {
  vertical-align: middle;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-next_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 23px;
  width: 74px;
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-next_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 23px;
  width: 74px;
  -ms-transform: rotate(0.0deg);
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Inicio {
  height: 41px;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-perfil {
  height: 41px;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Menu_item_1 {
  height: 41px;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d #s-Login {
  height: 41px;
}
#s-bf3cb98a-0120-45c6-b6d5-8700dbb5898d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}