#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-lb_aspectos_generales {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-lb_factor_riesgo_fisico {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-lb_escritorio {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-criterio_indicadores_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-lb_justificacion {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-lb_justificacion_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-lb_justificacion_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-lb_justificacion_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-lb_justificacion_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-next_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-lb_justificacion_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-lb_justificacion_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-lb_justificacion_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-lb_justificacion_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_118 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_120 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-lb_justificacion_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_125 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_127 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_128 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_129 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_130 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_131 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_132 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_133 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_134 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_135 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_136 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_137 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_138 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_140 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_141 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_142 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_143 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_144 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_145 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_146 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_147 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_148 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-next {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_149 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_152 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_153 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_156 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_157 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_158 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_159 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_160 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_161 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_162 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_163 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_164 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_165 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_166 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-lb_justificacion_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_167 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_168 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_169 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_170 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_171 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_172 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_173 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_174 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_175 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_178 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_179 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_180 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_181 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_182 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_183 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_184 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_185 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_186 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_187 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_188 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_189 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_190 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_191 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_192 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_193 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_194 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_195 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_196 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-next_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-next_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-lb_justificacion_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_197 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_198 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_199 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_200 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_201 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_202 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_203 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_204 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_205 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_206 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_207 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_208 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_209 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_210 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_211 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_212 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_213 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_214 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_215 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_216 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_217 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_218 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_219 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_220 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_221 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_222 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_223 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_224 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_225 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_226 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-lb_justificacion_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_227 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_230 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_231 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_232 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_233 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_234 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_235 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_236 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_237 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_238 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_239 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_240 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_241 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_242 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_243 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_244 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_245 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_246 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_247 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_248 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_249 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_250 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_251 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_252 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-lb_justificacion_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-lb_justificacion_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_262 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_261 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_260 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_259 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-lb_justificacion_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-lb_justificacion_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_282 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_281 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_280 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_279 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_278 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_277 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_276 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_275 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_274 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_273 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_272 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_271 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_270 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_269 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_268 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_267 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_266 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_265 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_264 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_263 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-agregar_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_258 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_257 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_256 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_255 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_254 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-Text_253 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-lb_justificacion_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 #s-next_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedfc416-66be-4f32-b35e-0c51a4da1ef5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}