#s-e5014086-eca6-4811-ae65-99d0e6dfea71 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Menu_Bar {
  position: absolute;
  width: 756px;
  height: 43px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Menu_Bar > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Inicio .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Inicio {
  background-color: transparent;
  background-image: none;
  text-shadow: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Inicio-nodetext {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-perfil .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-perfil {
  background-color: transparent;
  background-image: none;
  text-shadow: none;
  cursor: pointer;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-perfil-nodetext {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Menu_item_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Menu_item_1 {
  background-color: transparent;
  background-image: none;
  text-shadow: none;
  cursor: pointer;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Menu_item_1-nodetext {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-solicitud_teletrabajo .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-solicitud_teletrabajo {
  background-color: transparent;
  background-image: none;
  text-shadow: none;
  cursor: pointer;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-solicitud_teletrabajo-nodetext {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Menu_item_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Menu_item_2 {
  background-color: transparent;
  background-image: none;
  text-shadow: none;
  cursor: pointer;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Menu_item_2-nodetext {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Menu_item_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Menu_item_3 {
  background-color: transparent;
  background-image: none;
  text-shadow: none;
  cursor: pointer;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Menu_item_3-nodetext {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Menu_item_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Menu_item_4 {
  background-color: transparent;
  background-image: none;
  text-shadow: none;
  cursor: pointer;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Menu_item_4-nodetext {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Login .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Login {
  background-color: transparent;
  background-image: none;
  text-shadow: none;
  cursor: pointer;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Login-nodetext {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Menu_Bar > .menuWrapper {
  height: 43px;
  width: calc(100% - 0px);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_9 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_9 > .clipping, #s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_9 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Category_2 > .dropdown-options {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Category_2 {
  position: absolute;
  width: 258px;
  height: 29px;
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Category_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Category_2 > .paddingLayer {
  height: 23px;
  width: 247px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 3px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_11 {
  position: absolute;
  width: 199px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_11 > .clipping, #s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_11 > .paddingLayer {
  height: 16px;
  width: 199px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Category_3 > .dropdown-options {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Category_3 {
  position: absolute;
  width: 258px;
  height: 29px;
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Category_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Category_3 > .paddingLayer {
  height: 23px;
  width: 247px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 3px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_12 {
  position: absolute;
  width: 115px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_12 > .clipping, #s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_12 > .paddingLayer {
  height: 16px;
  width: 115px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-next_5 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #0957CC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-next_5 {
  position: absolute;
  width: 80px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-next_5 > .clipping, #s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-next_5 > .paddingLayer {
  height: 22px;
  width: 72px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-next_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-next_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-next_5 span#rtr-s-next_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-next_5 span#rtr-s-next_5_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Category_4 > .dropdown-options {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Category_4 {
  position: absolute;
  width: 258px;
  height: 29px;
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Category_4 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Category_4 > .paddingLayer {
  height: 23px;
  width: 247px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 3px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_13 {
  position: absolute;
  width: 136px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_13 > .clipping, #s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_13 > .paddingLayer {
  height: 16px;
  width: 136px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_33 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_33 {
  position: absolute;
  width: 89px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  display: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_33 > .clipping, #s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_33 > .paddingLayer {
  height: 16px;
  width: 89px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_33 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_33 span#rtr-s-Text_33_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_33 span#rtr-s-Text_33_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_33 span#rtr-s-Text_33_2 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_34 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_34 {
  position: absolute;
  width: 73px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  display: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_34 > .clipping, #s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_34 > .paddingLayer {
  height: 16px;
  width: 73px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_34 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_34 span#rtr-s-Text_34_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_34 span#rtr-s-Text_34_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_34 span#rtr-s-Text_34_2 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_34 span#rtr-s-Text_34_3 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Input_1 {
  position: absolute;
  width: 131px;
  height: 29px;
  text-shadow: none;
  display: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
  text-shadow: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Input_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Input_1 > .paddingLayer {
  height: 23px;
  width: 120px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 3px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Input_1 .icon {
  top: 6px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Group_1 {
  position: absolute;
  width: 35px;
  height: 16px;
  display: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-rd_si {
  position: absolute;
  cursor: pointer;
  box-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_21 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_21 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_21 > .clipping, #s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_21 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Group_10 {
  position: absolute;
  width: 35px;
  height: 16px;
  display: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-rd_si_5 {
  position: absolute;
  cursor: pointer;
  box-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_22 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_22 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_22 > .clipping, #s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_22 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_22 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Input_2 {
  position: absolute;
  width: calc(165px - 71px);
  height: 29px;
  text-shadow: none;
  display: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  margin-right: 70px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Input_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Input_2 > .paddingLayer {
  height: 23px;
  width: calc(154px - 71px);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 3px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Input_2 > .icon, #s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Input_2 > .file-input {
  right: -71px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_35 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_35 {
  position: absolute;
  width: 122px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  display: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_35 > .clipping, #s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_35 > .paddingLayer {
  height: 16px;
  width: 122px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_35 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_35 span#rtr-s-Text_35_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_35 span#rtr-s-Text_35_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_36 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_36 {
  position: absolute;
  width: 130px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  display: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_36 > .clipping, #s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_36 > .paddingLayer {
  height: 16px;
  width: 130px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_36 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_36 span#rtr-s-Text_36_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_36 span#rtr-s-Text_36_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Input_3 {
  position: absolute;
  width: 95px;
  height: 29px;
  text-shadow: none;
  display: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Input_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Input_3 > .paddingLayer {
  height: 23px;
  width: 84px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 3px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}