#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Inicio {
  height: 41px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-perfil {
  height: 41px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Menu_item_1 {
  height: 41px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-solicitud_teletrabajo {
  height: 41px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Menu_item_2 {
  height: 41px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Menu_item_3 {
  height: 41px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Menu_item_4 {
  height: 41px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Login {
  height: 41px;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Category_2-options {
  background-color: #FFFFFF;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-next_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 72px;
  -ms-transform: rotate(0.0deg);
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Category_4-options {
  background-color: #FFFFFF;
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-e5014086-eca6-4811-ae65-99d0e6dfea71 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}