#s-f673419c-4b6f-4d3f-a1c2-628222374250 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f673419c-4b6f-4d3f-a1c2-628222374250 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}