#s-f673419c-4b6f-4d3f-a1c2-628222374250 #s-Inicio {
  height: 41px;
}
#s-f673419c-4b6f-4d3f-a1c2-628222374250 #s-perfil {
  height: 41px;
}
#s-f673419c-4b6f-4d3f-a1c2-628222374250 #s-solicitud_teletrabajo {
  height: 41px;
}
#s-f673419c-4b6f-4d3f-a1c2-628222374250 #s-Login {
  height: 41px;
}
#s-f673419c-4b6f-4d3f-a1c2-628222374250 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f673419c-4b6f-4d3f-a1c2-628222374250 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}